header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li:hover {
  background-color: rgba(69, 22, 198, 0.29);
  border-radius: 10px;
  transition: 0.5s;
  padding: 10px;
  transform-style: preserve-3d;
}
h3 {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.card {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.photo {
  display: flex;
  flex-direction: column;
}
h2 {
  justify-content: center;
  display: flex;
}
header {
  position: relative;
  height: 50vh;
  background-image: url("Light.png");
  background-position: center;
  color: white;
  overflow: hidden;
  z-index: 2;
  background-size: cover;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 30px;
}
* {
  font-family: cursive;
  font-size: 20px;
}
footer {
  background-color: rgb(50, 46, 46);
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 4px;
}
.social-media a {
  background-color: rgba(71, 63, 63, 0.29);
  color: white;
}
nav a.active {
  background-color: rgba(0, 0, 255, 0.521);
  color: white;
  border-radius: 20px;
  padding: 10px;
}
.photo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.photo h4 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.photo:hover h4 {
  display: flex;
  justify-content: baseline;
  align-items: baseline;

  width: 100px;
  height: 260px;
}
.photo i {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.photo:hover i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#Hero{
    background-color: rgba(0, 255, 255, 0.733);
}
